.task-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 16px 16px 16px 48px; /* Left padding for checkbox */
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.2s ease;
}

/* Hover effect */
.task-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-card.completed {
  background-color: #d3ffd3;
  text-decoration: line-through;
}

.task-checkbox {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.delete-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover {
  background-color: #e60000;
}

.task-content {
  margin-top: 40px; /* spacing below the checkbox */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.task-content h3 {
  margin: 0 0 12px 0;
  font-size: 18px;
}

.task-content p {
  margin: 10px 0;
  padding-right: 20px;
  text-align: justify;
}

.priority {
  font-weight: bold;
  margin-top: auto;
}

.priority.low {
  color: green;
}

.priority.medium {
  color: orange;
}

.priority.high {
  color: red;
}
